aldjemy
asgiref
boto3
botocore
certifi
cffi
chardet
charset-normalizer
click
coreapi
coreschema
cryptography
cycler
defusedxml
Django
django-ckeditor
django-cool-pagination
django-cors-headers
django-crispy-forms
django-js-asset
django-restframework
djangorestframework
djangorestframework-bulk
djangorestframework-simplejwt
docutils
drf-yasg
elastic-apm
fonttools
greenlet
humanize
idna
inflection
itypes
Jinja2
jmespath
joblib
kiwisolver
MarkupSafe
matplotlib
mysqlclient
nltk
numpy
oauthlib
packaging
pandas
Pillow
psycopg2-binary
pycparser
# pycrypto
PyJWT
PyMySQL
pyparsing
python-dateutil
python-slugify
python3-openid
pytz
regex
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
six
sklearn
slugify
social-auth-app-django
social-auth-core
SQLAlchemy
sqlparse
threadpoolctl
tqdm
tweepy
twitter
Unidecode
uritemplate
urllib3
